<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>ShadowREM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="icon" href="">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="jumbotron text-center">
            <div th:if="${unit.addressLine1==null}"><h3>Please enter unit details:</h3></div> 
            <div th:if="${unit.addressLine1!=null}"><h2 th:text= "${unit.addressLine1}"></h2></div>
	 	</div>

        <!-- private Long unitId;
	private String addressLine1;
	private String addressLine2;
	private String city;
	private String state;
	private String zipCode;
	private Tenant tenant;
	private Manager manager;-->
		
            <div class="well text-center">
                <form action="" method="post">
                    <div>
                        Address Line 1: <input type="text" th:field="${unit.addressLine1}" />
                    </div>
                    <div>
                        Address Line 2: <input type="text" th:field="${unit.addressLine2}" />
                    </div>
                    <div>
                        City: <input type="text" th:field="${unit.city}" />
                    </div>
                    <div>
                        State: <input type="text" th:field="${unit.state}" />
                    </div>
                    <div>
                        Zip Code: <input type="text" th:field="${unit.zipCode}" />
                        <!-- Tenant: <input type="text" th:field="${account.accountName}" /> -->
                        <!-- Manager: <input type="text" th:field="${account.accountName}" /> -->
                    </div>
                    <div>
                        <input type="submit" value="Save Unit"/>
                    </div>
                </form>
                <hr/>
                <div th:if="${unit.addressLine1!=null}">
                    <form th:action="@{/unit/{unitId}/delete(unitId=${unit.unitId})}" method="post">
                        <input type="submit" class="btn-danger" value="Delete Unit" />
                    </form>
                </div>
                <hr/>
                <div>
                    <a th:href="@{/manager/{managerId}(managerId=${manager.managerId})}" th:text="Back" method="get"></a>

                    <!-- <form th:action="@{/manager/{managerId}/back(managerId=${manager.managerId})}" method="post">
                        <input type="submit" value="Back" />
                    </form> -->
                </div>
            </div>

        <!-- <div th:unless="${manager.managerId != null}">
            <div class="well text-center">
                <span th:text="${unit.addressLine1}"></span><br/>
                <span th:text="${unit.addressLine2}"></span><br/>
                <span th:text="${unit.city}"></span><br/>
                <span th:text="${unit.state}"></span><br/>
                <span th:text="${unit.zipCode}"></span>
            </div>
		</div> -->

	</body>
</html>