<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>ShadowREM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
		<link rel="icon" class="bi bi-house">
		<!-- <i class="bi bi-house"></i> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- <script th:inline="javascript">
            /*<![CDATA[*/
                let manager = sessionStorage.getItem('manager');
                console.log(channelId);
            /*]]>*/
        </script> -->
	</head>
	<body>
		<!-- <nav class="nav flex-column">
			<a class="nav-link active" aria-current="page" href="#">Active</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link disabled">Disabled</a>
		</nav> -->
		
		<div class="well text-center flex-column">
			<h2 th:text= "${tenant.name}"></h2>
			<hr/>
			<form action="" method="post">
				<input type="hidden" th:field="${tenant.tenantId}"/>
				<input type="hidden" th:field="${tenant.manager}"/>
				<input type="hidden" th:field="${tenant.unit}"/>
				<input type="hidden" th:field="${tenant.password}"/>

				<div> 
					Username: <input type="text" th:field="${tenant.username}" required/>
                </div>
				<br/>
                <div> 
					Name: <input type="text" th:field="${tenant.name}" required/>
                </div>
				<br/>
                <div th:if="${tenant.unit != null}">
					Unit: <a th:href= "@{/manager/{managerId}/unit/{unitId}(managerId=${manager.managerId}, unitId=${unit.unitId})}" th:text="${unit.addressLine1}" method="get" ></a>
				</div>
				<br/>
				<div>
					<select th:field="${tenantDTO.unitId}" class>
						<option selected value="">Assign new unit...</option>
						<option th:each="unit : ${units}" th:value="${unit.unitId}" th:text="${unit.addressLine1}"></option>
					</select>
				</div>
				<br/>
				<div>
					<input type="submit" value="Update Tenant" />
				</div>
			</form>

            <hr/> 

			<form th:action="@{/manager/{managerId}/tenant/{tenantId}/delete(managerId=${manager.managerId}, tenantId=${tenant.tenantId})}" method="post">
				<input type="submit" class="btn-danger" value="Delete Tenant" />
			</form>
			<hr/>
            <div>
				<a th:href="@{/manager/{managerId}(managerId=${manager.managerId})}" th:text="Back" method="get"></a>
			</div>
		</div>
		    <!-- <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
				<input type="submit" value="Delete User Account" />
			</form> -->
            <!-- <div>
                <a th:href="@{tenant/unit/{unitId}(unitId=${tenant.unit.unitId})}" th:text="${tenant.unit.addressLine1}"></a>
            </div> -->
			<!-- <form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
				<h2>Accounts</h2>
				<div th:each="account : ${user.accounts}">
					<a th:href= "@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}" th:text="${account.accountName}" method ></a>
				</div>
				<input type="submit" value="Open New Account" />
			</form> -->
		
		<!-- <div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
		    <a th:href= "@{/users/{userId}(userId=${user.userId})}" th:text="${user.userId}"></a><br/>
			<span th:text="${user.username}"></span><br/>
			<span th:text="${user.name}"></span><br/>
			<span th:text="${user.password}"></span>
			<div th:each="account : ${user.accounts}">
				<a th:href= "@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}" th:text="${account.accountName}"></a>
			</div>
			<hr/>
		</div> -->
	</body>
</html>